*.user
*.ncb
*.sdf
*.suo
*.pdb
*.idb
*.opensdf
*.bak
*.cache
*.temp
*~
Backup
VS_int_files
ThirdParty-mod/libvorbis/**/Debug
ThirdParty-mod/libvorbis/**/Release
ThirdParty-mod/libvorbis/**/ReleaseX64
ThirdParty-mod/libvorbis/**/Release_nooptimize
ThirdParty-mod/libvorbis/**/Release_noptimize
ThirdParty-mod/libvorbis/**/Release static CRT
ThirdParty-mod/libvorbis/**/Debug static CRT
ThirdParty-mod/libogg/**/Debug
ThirdParty-mod/libogg/**/Release
ThirdParty-mod/libogg/**/Release static CRT
ThirdParty-mod/libogg/**/Debug static CRT
ThirdParty-mod/libogg/xcode/build
ThirdParty-mod/libvorbis/xcode/build
ThirdParty-mod/openal-soft/build
xcuserdata
HQEngine/linux/Deps
HQEngine/linux/Debug
HQEngine/linux/Release
HQEngine/Android/HQAudio/libs
HQEngine/Android/HQAudio/obj
HQEngine/Android/HQEngine/libs
HQEngine/Android/HQEngine/obj
HQEngine/Android/HQEngine/bin
HQEngine/Android/HQEngine/gen
HQEngine/Android/HQSceneManagement/libs
HQEngine/Android/HQSceneManagement/obj
HQEngine/Android/test/bin
HQEngine/Android/test/gen
HQEngine/Android/test/libs
HQEngine/Android/test/obj
tools/HQEngineDeployDll/obj
HQEngine/VS2008/Output
HQEngine/VS2008/VS_int_files
HQEngine/VS2013/Desktop/Output
HQEngine/VS2013/Desktop/VS_int_files
HQEngine/VS2013/Desktop/ipch
HQEngine/Xcode/HQEngine/Output
HQEngine/Xcode/HQEngine/build
HQEngine/Xcode/HQEngineIOS/Output
HQEngine/Xcode/HQEngineIOS/build
HQEngine/VS2012/WindowsPhone/HQEngine/ipch
HQEngine/VS2012/WindowsPhone/HQEngine/ARM
HQEngine/VS2012/WindowsPhone/HQEngine/Debug
HQEngine/VS2012/WindowsPhone/HQEngine/StaticDebug
HQEngine/VS2012/WindowsPhone/HQEngine/Release
HQEngine/VS2012/WindowsPhone/HQEngine/StaticRelease
HQEngine/VS2012/WindowsPhone/HQEngine/HQEngineWP/ARM
HQEngine/VS2012/WindowsPhone/HQEngine/HQEngineWP/Debug
HQEngine/VS2012/WindowsPhone/HQEngine/HQEngineWP/StaticDebug
HQEngine/VS2012/WindowsPhone/HQEngine/HQEngineWP/Release
HQEngine/VS2012/WindowsPhone/HQEngine/HQEngineWP/StaticRelease
HQEngine/VS2012/WindowsPhone/HQEngine/testWP/ARM
HQEngine/VS2012/WindowsPhone/HQEngine/testWP/Debug
HQEngine/VS2012/WindowsPhone/HQEngine/testWP/StaticDebug
HQEngine/VS2012/WindowsPhone/HQEngine/testWP/Release
HQEngine/VS2012/WindowsPhone/HQEngine/testWP/StaticRelease
HQEngine/VS2012/WindowsStoreApp/HQEngine/ipch
HQEngine/VS2012/WindowsStoreApp/HQEngine/ARM
HQEngine/VS2012/WindowsStoreApp/HQEngine/Debug
HQEngine/VS2012/WindowsStoreApp/HQEngine/StaticDebug
HQEngine/VS2012/WindowsStoreApp/HQEngine/Release
HQEngine/VS2012/WindowsStoreApp/HQEngine/StaticRelease
HQEngine/VS2012/WindowsStoreApp/HQEngine/HQEngine/ARM
HQEngine/VS2012/WindowsStoreApp/HQEngine/HQEngine/Debug
HQEngine/VS2012/WindowsStoreApp/HQEngine/HQEngine/StaticDebug
HQEngine/VS2012/WindowsStoreApp/HQEngine/HQEngine/Release
HQEngine/VS2012/WindowsStoreApp/HQEngine/HQEngine/StaticRelease
HQEngine/VS2012/WindowsStoreApp/HQEngine/test/ARM
HQEngine/VS2012/WindowsStoreApp/HQEngine/test/Debug
HQEngine/VS2012/WindowsStoreApp/HQEngine/test/StaticDebug
HQEngine/VS2012/WindowsStoreApp/HQEngine/test/Release
HQEngine/VS2012/WindowsStoreApp/HQEngine/test/StaticRelease
utilities/HQShaderCompiler/Netbeans/HQEngineShaderCompiler/build
utilities/HQShaderCompiler/Netbeans/HQEngineShaderCompiler/dist
utilities/HQShaderCompiler/Netbeans/HQEngineShaderCompiler/setting.ini
utilities/HQShaderCompiler/VS2008/**/Debug/
utilities/HQShaderCompiler/VS2008/**/Release/
utilities/HQShaderCompiler/VS2008/**/ReleaseX64/
utilities/HQShaderCompiler/VS2008/**/Release_noptimize/
**/VS2008_bin_Debug
**/VS2008_bin_Release
**/VS2013_Desk_bin_Debug*
**/VS2013_Desk_bin_Release*
samples/Data/**/*.hlslv
samples/Data/**/*.hlslf
samples/Data/**/*.hlslv.bytecode
samples/Data/**/*.hlslf.bytecode
samples/Data/**/*.glslv
samples/Data/**/*.glslf
samples/reflective_shadow_map/VS2008/Debug
samples/reflective_shadow_map/VS2008/Release
samples/reflective_shadow_map/VS2013_Desk/Debug*
samples/reflective_shadow_map/VS2013_Desk/Release*
samples/**/Debug*
samples/**/Release*